<!-- Container ABOUT ME -->
    <div id="about_me" class="container text-center">
        <h3>ABOUT ME!</h3>
        <br>
        <div class="row">
            <div class="col-sm-6 col-lg-6 col-md-6 text-center">
                <div class="LI-profile-badge" data-version="v1" data-size="large" data-locale="en_US" data-type="vertical" data-theme="dark" data-vanity="saurabhdhole19">
                    <a class="LI-simple-link" href='https://www.linkedin.com/in/saurabhdhole19?trk=profile-badge'>Saurabh Dhole</a>

                </div>
            </div>
            <div class="col-sm-6 col-lg-6 col-md-6">
                <h2 class="text-center"><strong>Saurabh Dhole</strong></h2>
                <br>
                <p>
                    A Master's student in Computer Science at Cleveland State University actively seeking Full time opportunities. Experienced in the computer software industry. Skilled in C++, C#, PL/SQL, English, Java, Python.
                </p>
                <br />
                <p>
                    My goal is to work with passion and focus in a dynamic organization which challenge my skills and knowledge and gives me an opportunity to contribute positively towards the goal and growth of the organization.
                </p>

            </div>

        </div>
    </div>