
    <div id="my_blogs" class="bg-1">
        <div class="container">
            <h3 class="text-center">BLOG</h3>
            <p class="text-center">
                Comming Soon...<br>
            </p>

            <!--<div class="row">
                <div class="col-md-12">
                    <div class="main-timeline5">
                        <div class="timeline">
                            <div class="timeline-icon"><span class="year">2018</span></div>
                            <div class="timeline-content">
                                <h3 class="title">Cleveland State University</h3>
                                <h5>Aug-2018 - May-2020</h5>
                                <p class="description">
                                    Pursuing Masters Degree in Computer Science with a GPA of 3.72. Worked on various project and studied courses like Advance Operating System, Advance Computer architecture, Artificial Inteligence.

                                </p>
                            </div>
                        </div>
                        <div class="timeline">
                            <div class="timeline-icon"><span class="year">2010</span></div>
                            <div class="timeline-content">
                                <h3 class="title">University of Pune</h3>
                                <h5>Aug-2010 - Aug-2014</h5>
                                <p class="description">
                                    I have completed my Bachelors in Computer Engineering from Vishwakarma Institute of Information Technology, affliated to University of Pune. Studied various courses like Algorithms, Data Structures, Object oriented programming, Web Technologies, etc.
                                </p>
                            </div>
                        </div>
                        <div class="timeline">
                            <div class="timeline-icon"><span class="year">2008</span></div>
                            <div class="timeline-content">
                                <h3 class="title">Maharashtra State Board of Technical Education</h3>
                                <h5>Jul-2008 - Jul-2010</h5>
                                <p class="description">
                                    Completed Higher Secondary School in Science from P V P college.

                                </p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>-->
        </div>
    </div>