{% load static %}
<!-- Experience -->
    <div id="experience" class="container text-center">
        <h3>EXPERIENCE</h3>
        <br>
        <div class="row myPadding">
            <div class="col-sm-6 text-center">
                <img src="https://www.csuohio.edu/sites/all/themes/csu/images/Seal-background.png" style="width: 20%;" />
                <h3 style="letter-spacing: 1px;">Cleveland State University</h3>
                <h4 style="background-color: #ffffff; color: #777 !important; font-size: initial; letter-spacing: 1px;">Full Stack Software Developer</h4>
                <h4 style="background-color: #ffffff; color: #777 !important; font-size: initial;">Feb-2018 - Present</h4>
                <p>Completed two project. One is iOS Application and another is website application. Respocible for creating, hosting the application from scratch.</p>
                <p>Tool and Technology :- C#, Swift,VS2013, XCODE, PHP, React.js, Laravel etc.</p>
            </div>
            <div class="col-sm-6">
                <img src="https://www.compsource.com//mscs_images/pics/logo2.jpg" style="width: 75%;" />
                <h3 style="letter-spacing: 1px;">CompSource Inc.</h3>
                <h4 style="background-color: #ffffff; color: #777 !important; font-size: initial; letter-spacing: 1px;">Intern</h4>
                <h4 style="background-color: #ffffff; color: #777 !important; font-size: initial;">Jan-2020 - Present</h4>
                <p>Working converting the existing application to C# application.</p>
            </div>


        </div>
        <br>
        <div class="row myPadding">
            <div class="col-sm-6 text-center">
                <img src="{% static 'images/prototech-solutions.png' %}" style="width: 50%;" />
                <h3 style="letter-spacing: 1px;">ProtoTech Solutions Pvt. Ltd.</h3>
                <h4 style="background-color: #ffffff; color: #777 !important; font-size: initial; letter-spacing: 1px;">Senior Software Developer</h4>
                <h4 style="background-color: #ffffff; color: #777 !important; font-size: initial;">Jan-2016 - Jun-2018</h4>
                <p>My role was to research and develope projects from scratch and implement core/complex modules. Responsible for providing optimal solution to client and every day challenges and training new members</p>
                <p>Tool and Technology :- C, C++, C#, Objective C, Swift, Eyeshot, ACIS, Hoops, OBJ, JSON, WEBGL, Android Studio, VS2013, XCODE, etc.</p>
            </div>
            <div class="col-sm-6">
                <img src="{% static 'images/moremagic.png' %}" style="width: 40%;" />
                <h3 style="letter-spacing: 1px;">MoreMagic Solution Pvt. Ltd</h3>
                <h4 style="background-color: #ffffff; color: #777 !important; font-size: initial; letter-spacing: 1px;">Intern</h4>
                <h4 style="background-color: #ffffff; color: #777 !important; font-size: initial;">Sep-2015 - Dec-2015</h4>
                <p>Completed 3 months internship and worked on two projects with technologies involving Java, Spring and AngularJS.</p>
            </div>


        </div>

    </div>