<!-- my skills -->
    <div id="my_skills" class="container text-center my_skills bg-1">
        <br>
        <br>
        <br>
        <h3>SKILLS</h3>
        <br>
        <div class="row ">
            <div class="col-sm-2 text-center">
            </div>
            <div class="col-sm-8 text-center">
                <h4 style="background-color: #2d2d30;">Programming Languages</h4>
                <p>C, C++, C#, Android, PL/SQL, Python, Core Java, J2EE, Go, Swift, Objective C</p>
                <h4 style="background-color: #2d2d30;">Web Development</h4>
                <p>HTML, JavaScript, XML, jQuery, CSS, Bootstrap, RESTful services, AJAX</p>
                <h4 style="background-color: #2d2d30;">Tools &amp; Frameworks</h4>
                <p>ASP.NET MVC, Spring, Git, Subversion, Maven</p>
                <h4 style="background-color: #2d2d30;">Databases &amp; Platforms</h4>
                <p>MySQL, Oracle, SQL Server, Windows, LINUX, UNIX</p>
                <p></p>
            </div>
            <div class="col-sm-2">
                <!--in future add slider for rating prog lang-->
            </div>
        </div>
        <br>
    </div>