{% load static %}
    <!-- Timeline container - all project and certification publication -->
    <div id="my_projects" class="" style="">
        <div class="container">
            <h3 class="text-center">PROJECTS</h3>

            <div class="row">
                <div class="col-sm-4">
                    <div class="thumbnail">
                        <a href="javascript:openModalPop('2dDrafting');">
                            <img src="{% static 'images/2dDrafting.jpg' %}" alt="2D Drafting" style="width: 100%; max-height: 252px; max-width: 360px;">
                            <div class="caption projectTitle">
                                <span>2D Drafting application</span>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="thumbnail">
                        <a href="javascript:openModalPop('3dDrafting');">
                            <img src="{% static 'images/3dDrafting.jpg' %}" alt="3D Drafting" style="width: 100%; max-height: 252px; max-width: 360px;">
                            <div class="caption projectTitle">
                                <span>3D Drafting application</span>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="thumbnail">
                        <a href="javascript:openModalPop('vanity');">
                            <img src="{% static 'images/vanity.jpg' %}" alt="vanity" style="width: 100%; max-height: 252px; max-width: 360px;">
                            <div class="caption projectTitle">
                                <span>Vanity </span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="thumbnail">
                        <a href="javascript:openModalPop('custom_insole_designer');">
                            <img src="{% static 'images/customInsoleDesigner.jpg' %}" alt="Custom Insole Designer" style="width: 100%; max-height: 252px; max-width: 360px;">
                            <div class="caption projectTitle">
                                <span>Custom Insole Designer</span>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="thumbnail">
                        <a href="javascript:openModalPop('body_measuring');">
                            <img src="{% static 'images/bodyMeasurement.png' %}" alt="Body Measuring Project" style="width: 100%; max-height: 252px; max-width: 360px;">
                            <div class="caption projectTitle">
                                <span>Body Measuring Project</span>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="thumbnail">
                        <a href="javascript:openModalPop('cad_generate_and_view');">
                            <img src="{% static 'images/cadGenerateAndView.png' %}" alt="Cad Generate and view" style="width: 100%; max-height: 252px; max-width: 360px;">
                            <div class="caption projectTitle">
                                <span>Cad Generate and view</span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="thumbnail">
                        <a href="javascript:openModalPop('fbx_exporter');">
                            <img src="{% static 'images/FBX.png' %}" alt="FBX Exporter" style="width: 100%; max-height: 252px; max-width: 360px;">
                            <div class="caption projectTitle">
                                <span>FBX Exporter</span>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="thumbnail">
                        <a href="javascript:openModalPop('json_library');">
                            <img src="{% static 'images/jsonlogo.png' %}" alt="JSON Library" style="width: 100%; max-height: 252px; max-width: 360px;">
                            <div class="caption projectTitle">
                                <span>JSON Library</span>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="thumbnail">
                        <a href="javascript:openModalPop('voice_360');">
                            <img src="{% static 'images/Voice360.png' %}" alt="Voice 360" style="width: 100%; max-height: 252px; max-width: 360px;">
                            <div class="caption projectTitle">
                                <span>Voice 360</span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="thumbnail">
                        <a href="javascript:openModalPop('autodesk_platform_plugins');">
                            <img src="{% static 'images/autodeskPlatformPlugins.png' %}" alt="Autodesk Platfrom Plugins" style="width: 100%; max-height: 252px; max-width: 360px;">
                            <div class="caption projectTitle">
                                <span>Autodesk Platfrom Plugins</span>
                            </div>
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </div>